extends event-live

block sport
    #sport-type(data-sport="football")
    .text-center#scores
        .col-md-6#teamhome.score
        .col-md-6#teamaway.score
    #maintimercontainer.text-center.container
        h1#mainclock
    .text-center#bottom
        .col-md-2
            h3#viewer-count
        .col-md-10

