extends layout

block content
  h1= title
  h2(style="color: red") SITE IN CONSTRUCTION
  p Maybe you'd like to look at our 
  a(href='/pastevents') Past events
  br
  a(href='/live') Live events
  br
  a(href='/manager') For admins.
