extends layout

block content
	div.col-md-4.col-md-offset-4
		h3 Welcome to UISG Scoreboard!
		ul
			li Click 'Live Events' to follow currently running games.
			li If you want to check the scores of finished games, check 'Past events'.
		p As this application is in its early stages, we will be very happy to receive your feedback. Please send your comment to #[a(href='mailto:17mguse@student.uisgz.org' style='color: #5bc0de') 17mguse@student.uisgz.org]
