doctype html
html
    head
        title= title
        ////maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon' type='image/x-icon' href='/favicon.ico')
        block extraheader
    body
        script(src='/javascripts/jquery.min.js') ////ajax.googleapis.com/ajax/libs/jquery/2.0.3/
        ////maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/
        script(src="/javascripts/bootstrap.min.js" crossorigin="anonymous")
        script(src='/javascripts/layout.js')
        nav.navbar.navbar-light.navbar-fixed-top
            .container-fluid
                a(href='/pastevents') Past events
                .navbar-header
                    a(href="/")
                        span(class='glyphicon glyphicon-fire', id='brand-icon', aria-hidden='true')
                        span.nav-brand#brand-text Scoreboard
                a(href='/live') Live events
                .float-right
                    a(href='/manager')
                        span(class='glyphicon glyphicon-user', aria-hidden='true')
                        span Admin
        #content
            block content
        //footer.footer
        //    p.text-muted.handwriting Home-made by UISG students