doctype html
html
    head
        title= title
        ////maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        block extraheader
    body
        nav.navbar.navbar-light.navbar-fixed-top
            .container-fluid
                a(href='/pastevents') Past events
                .navbar-header
                    a(href="/")
                        span(class='glyphicon glyphicon-fire', id='brand-icon', aria-hidden='true')
                        span.nav-brand#brand-text Scoreboard
                a(href='/live') Live events
                .float-right
                    a(href='/manager')
                        span(class='glyphicon glyphicon-user', aria-hidden='true')
                        span Admin
        #content
            block content
        footer.footer
            p.text-muted.handwriting Home-made by UISG students
        script(src='/javascripts/jquery.min.js') ////ajax.googleapis.com/ajax/libs/jquery/2.0.3/
        ////maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/
        script(src="/javascripts/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

