extends layout

block content
    div.container
        div.row
            div.col-sm-12.col-md-8.col-md-offset-2
                h3 Live Events
                .flex-box-container#eventsList
                    p.loading-notice Loading ...
                    .spinner
                //Content
    script(src='/javascripts/liveevents-list.js')

