extends layout

block content
	div.container
			div.row
				div.col-sm-12.col-md-8.col-md-offset-2
					h2= title
					p Welcome to #{title}
					// Past Events List
					h3 Past Events
					p Click entry to delete
					#pasteventsList.delete-table
						table
							thead
								th Home team
								th Home score
								th Away score
								th Away team
							tbody
	script(src='/javascripts/manage-pastevents.js')

