extends layout

block content
    div.container
        div.row
            div.col-sm-12.col-md-8.col-md-offset-2
                h3.login-title #{title}
                .flex-box-container
                    .dyn-box
                        a(href='/manager/createliveevent')
                            figure 
                                span(class='glyphicon glyphicon-plus icon-background', aria-hidden='true')
                                figcaption Create new events
                    .dyn-box
                        a(href='/manager/pastevents/delete')
                            figure
                                span(class='glyphicon glyphicon-trash icon-background', aria-hidden='true')
                                figcaption Delete past events
                    .dyn-box
                        a(href='/manager/liveevents/delete')
                            figure
                                span(class='glyphicon glyphicon-trash icon-background', aria-hidden='true')
                                figcaption Delete live events
                    .dyn-box
                        a(href='/manager/liveevents/remote')
                            figure
                                span(class='glyphicon glyphicon-bullhorn icon-background', aria-hidden='true')
                                figcaption Remote control
                    .dyn-box
                        a(href='/manager/signup', class='text-center new-account')
                            figure
                                span(class='glyphicon glyphicon-user icon-background', aria-hidden='true')
                                figcaption Create an account
                    .dyn-box
                        a(href='/manager/signout', class='text-center new-account')
                            figure
                                span(class='glyphicon glyphicon-log-out icon-background', aria-hidden='true')
                                figcaption Sign Out