extends layout

block content
    div.container
        div.row
            div.col-sm-12.col-md-8.col-md-offset-2
                h3 Past Events
                .flex-box-container#pasteventsList
                    p.loading-notice Loading ...
                    .spinner
                //Content
    script(src='/javascripts/pastevents-client.js')

