extends event-live

block extraheader
	//link(rel='stylesheet', href='/stylesheets/volleyball-board.css')

block sport
	#sport-type(data-sport="volleyball")
	.text-center
		p#volleyball_status Current set:
		h3#volleyball_current_set
		h4#volleyball_current_set_type
	.text-center
		.col-xs-6
			h3#team_home.teamtitle
			p Sets won:
			h2#volleyball_team_home_wins
			p Points current set:
			h2#volleyball_team_home_points
		.col-xs-6
			h3#team_away.teamtitle
			p Sets won:
			h2#volleyball_team_away_wins
			p Points current set:
			h2#volleyball_team_away_points
	#bottom
		.container-fluid
			button( type='button' class='collapsed' id='comment-expand' data-toggle='collapse' data-target='#comment-all' aria-expanded='false')
				p#viewer-count
				span(class='glyphicon glyphicon-menu-up' id='comment-expand-icon' aria-hidden='true')
				p#comment-expand-info Comments
			.collapse#comment-all
				.comment-box
				.comment-input
					.col-xs-8
						input(type='text' name='name' id='input-username' value='' placeholder='Username')
						textarea(name='comment' id='input-message' rows='2' value='' placeholder='Cheer for your team and leave a comment!')
					.col-xs-4
						button(type='button' name='send-comment' class='btn btn-lg btn-primary' id='input-send' onclick='sendMessage()') Send
