/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
:root {
  --base: #f4f4f4;
  --accent: #3d8901;
  --accent-complementary: #9A716C;
  --triad-base: #95A1B4;
  --triad-accent: #74849A;
}

body {
  padding: 50px;
  font-family: 'Roboto', Helvetica, arial, verdana;
  font-size: 14px;
  color: var(--triad-accent);
  text-align: center;
  background-color: var(--base); 
}
.invert-text {
  color: black;
}
.hidden {
  display: none;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
}

.navbar {
	background-color: var(--accent);
  border: 0;
}
.navbar .navbar-brand, .navbar .navbar-nav li a{
	color: var(--base);
}
.navbar .navbar-brand:hover, .navbar .navbar-nav li a:hover{
	border-top: black;
}

.flex-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dyn-box {
  border: 1px solid var(--accent-complementary);
  margin: 10px;
  /* padding: 5px;
  width: 150px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  text-align: center; */
}
.dyn-box figure {
  position: relative;
  min-width: 150px;
  height: 150px;
  color: var(--triad-base);
  border-radius: 3px;
  box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.1);
  transition: all .2s ease-in-out
}

.dyn-box figure:hover {
  box-shadow: inset 0 -150px 0 0 rgba(0,0,0,.2);
}

.dyn-box.event figure {
  box-shadow: none;
}
.dyn-box figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 3px #000;
  bottom: 10px;
  transition: all .2s ease-in-out
}

.dyn-box figure:hover figcaption {
  bottom: 40px
}

.dyn-box .icon-background {
  margin-top: 40px;
  color: white;
  font-size: 3em;
}
.glyphicon {
  color: white;
}
.handwriting {
  font-family: 'Indie Flower', cursive;
}