/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
:root {
  --base: #f4f4f4;
  --accent: #3d8901;
  --accent-complementary: #9A716C;
  --triad-base: #95A1B4;
  --triad-accent: #74849A;
}

body {
  padding-top: 90px;
  font-family: 'Roboto', Helvetica, arial, verdana;
  font-size: 14px;
  color: var(--triad-accent);
  text-align: center;
  /*background-image: url(/images/ricepaper2.png);*/
  /*background-repeat: repeat;*/
  background-color: var(--base);
}
.hidden {
  display: none;
}

a {
  color: var(--base);
}
a:hover {
  text-decoration: none;
}
/* Styling navigation bar */
/* Create a CSS-Font-Icon brand */
#brand-icon {
  display: block;
  margin: 0 auto;
  width: 50px;
  color: var(--base);
  font-size: 30px;
  background-color: var(--accent-complementary);
  padding: 10px;
  border-radius: 40px;
}
#brand-text {
  margin: 0;
  padding: 5px;
  font-family: 'Oswald', arial;
  font-size: 18px;
  height: 30px;
  color: var(--accent-complementary);
}

.navbar-header {
  display: inline-block;
  float: none;
  padding: 0px 25px;
  margin:5px;
}
.navbar {
	background: transparent;
  margin-bottom: 0;
}
.navbar a {
  color: var(--accent-complementary);
  font-family: 'Oswald',arial;
}
.navbar a:hover{
  border-bottom: 2px solid var(--accent-complementary);
}
.container-fluid {
  position: relative;
}
.float-right {
  display:block;
}

/*Styling for the dyn-boxes in the admin managing panel */

.flex-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dyn-box {
  border: 1px solid var(--accent-complementary);
  background-color: var(--accent-complementary);
  margin: 10px;
}
.dyn-box figure {
  position: relative;
  min-width: 150px;
  height: 150px;
  color: var(--base);
  border-radius: 3px;
  box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.1);
  transition: all .2s ease-in-out
}

.dyn-box figure:hover {
  box-shadow: inset 0 -150px 0 0 rgba(0,0,0,.2);
}

.dyn-box figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 3px #000;
  bottom: 10px;
  transition: all .2s ease-in-out
}

.dyn-box figure:hover figcaption {
  bottom: 40px
}

.dyn-box .icon-background {
  margin-top: 40px;
  color: white;
  font-size: 3em;
}

/* Styling for the event boxes in live/past event listing */
.dyn-box-event {
  display: block;
  width: 100%;
  background-color: white;
  margin: 5px;
  color: var(--triad-accent);
  border: 1px solid var(--triad-accent);
  border-left-width: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
}
.dyn-box-event a {
  display:block;
  color: var(--triad-accent);
}
.dyn-box-event a:hover {
  color: var(--accent-complementary);
}
.team-title {
  font-size: 18px;
}
.event-link {
  display:block;
}

/*Other styling */
.glyphicon {
  padding: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  right: 5px;
}
.handwriting {
  font-family: 'Indie Flower', cursive;
}

/* Mobile First! Desktop Second; Here come changes only for bigger screens */

@media only screen and (min-width: 450px) {
  /*For larger screens */
  .float-right {
    position: absolute;
    right: 30px;
    bottom: 5px;
  }
}