/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
/*#fffd98 */
body {
  padding-top: 90px;
  font-family: 'Roboto', Helvetica, arial, verdana;
  font-size: 14px;
  color: #74849A;
  text-align: center;
  /*background-image: url(/images/ricepaper2.png);*/
  /*background-repeat: repeat;*/
  background-color: #f4f4f4; }

.hidden {
  display: none; }

a {
  color: #f4f4f4; }

a:hover {
  text-decoration: none; }

li {
  text-align: left; }

/* Styling navigation bar */
/* Create a CSS-Font-Icon brand */
#brand-icon {
  display: block;
  margin: 0 auto;
  width: 50px;
  color: #f4f4f4;
  font-size: 30px;
  background-color: #9A716C;
  padding: 10px;
  border-radius: 40px; }

#brand-text {
  margin: 0;
  padding: 5px;
  font-family: 'Oswald', arial;
  font-size: 18px;
  height: 30px;
  color: #9A716C; }

.navbar-header {
  display: inline-block;
  float: none;
  padding: 0px 25px;
  margin: 5px; }

.navbar {
  background: transparent;
  margin-bottom: 0;
  z-index: 1; }
  .navbar a {
    color: #9A716C;
    font-family: 'Oswald',arial; }
  .navbar a:hover {
    border-bottom: 2px solid #9A716C; }

.container-fluid {
  position: relative; }

.float-right {
  display: block; }

/*Styling for the dyn-boxes in the admin managing panel */
.flex-box-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.dyn-box {
  border: 1px solid #9A716C;
  background-color: #9A716C;
  margin: 10px; }
  .dyn-box figure {
    position: relative;
    min-width: 100px;
    height: 100px;
    color: #f4f4f4;
    border-radius: 3px;
    box-shadow: inset 0 -30px 0 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out; }
  .dyn-box figure:hover {
    box-shadow: inset 0 -150px 0 0 rgba(0, 0, 0, 0.2); }
  .dyn-box figcaption {
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 3px #000;
    bottom: 10px;
    font-size: 0.8em;
    transition: all 0.2s ease-in-out; }
  .dyn-box figure:hover figcaption {
    bottom: 40px; }
  .dyn-box .icon-background {
    margin-top: 20px;
    color: white;
    font-size: 3em; }

/* Styling for the loading spinner */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #9A716C;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* Styling for the event boxes in live/past event listing */
.dyn-box-event {
  display: block;
  width: 100%;
  background-color: white;
  margin: 5px;
  color: #74849A;
  border: 1px solid #74849A;
  border-left-width: 5px;
  border-radius: 2px;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px; }
  .dyn-box-event a {
    display: block;
    color: #74849A; }
  .dyn-box-event a:hover {
    color: #9A716C; }

.team-title {
  font-size: 18px; }

.teamtitle {
  color: #3d8901; }

.team-score {
  font-size: 24px;
  font-weight: bold; }

.event-link {
  display: block; }

.box-logo {
  width: 50px;
  height: 50px; }

/* Styling for deleting events list */
.delete-table table {
  width: 100%;
  text-align: left; }
.delete-table table, .delete-table th, .delete-table td {
  border: 1px solid black; }
.delete-table th, .delete-table td {
  padding: 10px; }
.delete-table tr:hover {
  background-color: #9A716C;
  color: #f4f4f4; }

/* Styling for lower board section (comments) */
#game-container {
  padding-bottom: 50px; }

.clearfix {
  visibility: hidden;
  clear: both; }

#bottom {
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: white;
  z-index: 2; }

#viewer-count {
  margin: 5px 0;
  display: inline-block;
  float: left;
  font-weight: bold;
  color: #9A716C; }

#warnings {
  color: red; }

#comment-expand {
  display: block;
  width: 100%;
  border: none;
  background-color: white; }

#comment-expand:focus {
  outline: none; }

#comment-expand-info, #comment-expand-icon {
  float: right; }

#comment-expand-info {
  margin: 5px 5px;
  display: inline-block;
  font-style: italic; }

#comment-expand-icon {
  font-size: 18px; }

.comment-box {
  height: 100px;
  overflow: auto; }

.comment-container {
  text-align: left;
  color: #95A1B4;
  border-top: 1px dotted #95A1B4; }

.comment-username {
  display: block;
  font-size: 12px; }

.comment-message {
  color: #74849A;
  font-size: 16px; }

.comment-input {
  border-top: 2px solid #9A716C; }

#input-username, #input-message {
  float: left;
  width: 100%;
  margin: 5px;
  border: 1px solid #95A1B4;
  border-radius: 2px; }

#input-message {
  margin-bottom: 10px; }

#input-send {
  float: right;
  height: 100%; }

/*Other styling */
.btn-send {
  width: 70px;
  background: #9A716C;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

.btn-send:focus, .btn-send:hover {
  box-shadow: 0 0 0 1px white, 0 0 0 2px #9A716C;
  background: #9A716C; }

.glyphicon {
  padding: 5px; }

.footer {
  position: absolute;
  bottom: 0;
  right: 5px; }

.bold {
  font-weight: bold; }

.handwriting {
  font-family: 'Indie Flower', cursive; }

/* Mobile First! Desktop Second; Here come changes only for bigger screens */
@media only screen and (min-width: 450px) {
  /*For larger screens */
  .float-right {
    position: absolute;
    right: 30px;
    bottom: 5px; }

  .dyn-box figure {
    min-width: 150px;
    height: 150px;
    box-shadow: inset 0 -40px 0 0 rgba(0, 0, 0, 0.1); }

  .dyn-box figcaption {
    font-size: 1em; }

  .dyn-box .icon-background {
    margin-top: 40px; }

  .box-logo {
    width: 100px;
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
